body {
  min-height: 2000px;
}

.body-home {
    background-image: url("../images/fundo2.jpg");
    background-repeat: no-repeat;
}

.navbar-static-top {
  margin-bottom: 19px;
  //background-image: url("../images/topo.jpg");
}

.navbar-brand {
  max-width: 30%;
  margin-bottom: 30px; 
}

.navbar-default .navbar-nav > li > a{
    color: #C12424;
    text-transform: uppercase;
    font-weight: bold;
}

/* Home */
#home {
    margin-top: 50px;
}
#eventos {
    background-color: #C12424;
    margin-right: 30px;
    height: auto;
}
#eventos h2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
#eventos a{
    display: block;
    color:#fff;
    padding-bottom: 20px;
    font-size: 16px;
}
#eventos a:hover{
    text-decoration: none;
}

#noticia {
    height: 100px;
    background-color: #fff; 
}

#noticia h2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #C12424;
    text-align: center;
    padding-top: 20px;
}

#noticia img{
    max-height: 100%;
    width: auto;
}

@media (max-width: 767px){
    .navbar-brand{
        margin-bottom: 50px;
    }
}